body{
  font-family: 'Inter', sans-serif;
  background-color: #23252c;
}

.profile-pricture{
  width: 317px;
  height: 317px;
  border-radius: 8px 8px 0px 0px;
  
 
}
.profile-content{
  width: 317px;
  background-color: #1A1B21;
  color: white;
  margin: 0px auto;
  border-radius: 0px 0px 8px 8px;
  
  
  
}
.profile-content p{
  max-width: 317px;
  margin: 0 auto;
  padding: 6px;

}
.profine-name{
  font-size: 30px;
  font-weight: bold;
  margin: -5px auto;
  padding: 10px;
  text-align: center;
}
.profile-role{
  color: #F3BF99 ;
  font-size: 16px;
  text-align: center ;
}
.profile-email{
  font-size: 10px;
  text-align: center;
}
.btn-profile-email{
  border-radius: 8px;
  color: black;
  padding: 6px 30px;
  margin: 0px 5px;;  
  text-align: center;
  border-style: none;
  align-content: center;

}
.btn-profile-linkedin{
  border-radius: 8px;
  background-color: #5093E2;
  color: white;
  padding: 6px 30px;
  margin: 0px 5px;;  
  text-align: center;
  border-style: none;

}
.profile-text{
  font-size: 12px;
  padding-left: 10px;
  
}
.profile-title{
  font-size: 20px;
  font-weight: bold;
  margin: 0px auto;
  padding: 10px  10px 5px 10px;
 
}

footer{
  background-color: #161619;
  min-height: 64px;
  border-radius: 0px 0px 8px 8px;
}

footer i{
  color: white;
  font-size: 20px;
  padding: 20px;
  display: flex;
}
